{% extends "pages/page.html" %}

{% load pages_tags mezzanine_tags staticfiles blog_tags keyword_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
<style type="text/css">
    .illustration img{
        width: 100%;
    }
</style>
{% endblock %}

{% block main %}

<div class='illustration'>
    {% if illustration %}
        <img src='{{ MEDIA_URL }}{% thumbnail illustration.image 1200 300 %}' alt='illustration Evènements'>
    {% endif %}
</div>


<div class='level content'>
    <div class='container'>
    {% for element in Events %}
        <div class='event row'>
            <h3 class='text-center'>
                <a href='{{ element.get_absolute_url }}'>
                    {{ element.title|title }}
                </a>
            </h3>
            <div class='event_slot col-md-3 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2'>
                <a href='{{ element.get_absolute_url }}'>
                    <img class='img-thumbnail' src='{{ MEDIA_URL }}{% thumbnail element.illustration 0 400 %}' alt='illustration {{ element.title }}'>
                </a>
            </div>

            <div class='event_slot col-md-6 col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-1'>
                <div class='text-justify'>
                    {{ element.description_from_content|safe }}
                </div>
                {% if element.link_event %}
                <div class='text-center'>
                    <a href="{{ element.link_event }}" target='blank'>
                        <i class='fa fa-arrow-circle-o-right'></i> Lien vers le site de l'évènement
                    </a>
                </div>
                {% endif %}
            </div>

            <div class='event_slot col-md-3 col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-0 text-right'>
                <div class='row'>
                    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-3 event_info'>
                        <i class='fa fa-calendar text-info'></i> {{ element.date_event }}
                    </div>
                    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-3 event_info'>
                        <i class='fa fa-clock-o text-info'></i> {{ element.time_event }}
                    </div>
                    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-6 event_info icon_slot'>
                        {% if element.contact %}
                            <div class='DL'>
                                <a {% if request.user.username %}href='mailto:{{ element.contact }}' title='contact' {% else %} class='disabled' title='Connectez-vous pour envoyer un mail au contact' {% endif %}>
                                contact
                                <i class='fa fa-lg fa-envelope'></i></a>
                            </div>
                        {% endif %}
                        {% for inline in element.inlines %}
                            <div class='DL'>
                                <a {% if request.user.username %}href="{{ inline.file.url }}"{% else %} class='disabled' title='Connectez-vous pour télécharger le document' {% endif %} target="blank">
                                    <span>{{ inline.nature }}</span>
                                    <i class='fa fa-lg fa-download'></i>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>


{% endblock %}