{% extends "pages/page.html" %}

{% load pages_tags mezzanine_tags staticfiles blog_tags keyword_tags %}

{% block extra_css %}
<style type="text/css">
    .illustration img{
        width: 100%;
    }
</style>
{% endblock %}

{% block main %}

    <div class='illustration'>
        <img class='img-thumbnail' src='{{ MEDIA_URL }}{% thumbnail page.illustration 1200 300 %}' alt='illustration {{ page.title }}'>
    </div>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0'>
                <h1 class='text-center'>{{ page.title }} {{ page.date_event }}</h1>
                <div>
                    {{ page.content|richtext_filters|safe }}
                </div>
            </div>
            <div class='col-md-12 pull-right'>
                {% for inline in event.inlines %}
                    <div class='DL'>
                        <a {% if request.user.username or inline.public_toggle %}href="{{ inline.file.url }}"{% else %} class='disabled' title='Connectez-vous pour télécharger le document' {% endif %} target="blank">
                            <span>{{ inline.nature }}</span>
                            <i class='fa fa-lg fa-download'></i>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}