{% extends "pages/page.html" %}

{% load pages_tags mezzanine_tags staticfiles blog_tags keyword_tags %}

{% block extra_css %}
<style type="text/css">
    .illustration img{
        max-width: 100%;
        max-height: 400px;
        margin: 30px;
        padding: 10px;
    }
    .DL{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .DL a{
        padding: 5px;
        border: 1px solid rgb(100,100,100);
    }
    .DL a, .DL a:hover, .DL a:visited{
        color: rgba(234,97,114,.8);
        border-color: rgba(234,97,114,.8);
    }
    .DL a.disabled, .DL a.disabled:hover{
        border: 1px solid rgb(100,100,100);
        color: rgb(100,100,100);
    }
    #others{
        margin-top: 20px;
        margin-bottom: 50px;
    }
</style>
{% endblock %}

{% block main %}

    <div class='illustration text-center'>
        <img class='img-thumbnail' src='{{ MEDIA_URL }}{% thumbnail page.illustration 0 600 %}' alt='illustration {{ page.title }}'>
    </div>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0'>
                <h1 class='text-center'>{{ page.title }} {{ page.date_event }}</h1>
                <div>
                    {{ page.content|richtext_filters|safe }}
                </div>
            </div>
            <div class='col-md-12 text-center'>
                {% for inline in page.inlines %}
                    <div class='DL'>
                        <a {% if request.user.username or inline.public_toggle %}href="{{ inline.file.url }}"{% else %} class='disabled' title='Connectez-vous pour télécharger le document' {% endif %} target="blank">
                            <span>{{ inline.nature }}</span>
                            <i class='fa fa-lg fa-download'></i>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div id='others' class='col-md-12 text-left'>
                <h5>
                    <a href='/events/'>
                        <i class='fa fa-arrow-left'></i>
                        Voir les autres évènements
                    </a>
                </h5>
            </div>
        </div>
    </div>

{% endblock %}