{% extends "base.html" %}
{% load pages_tags mezzanine_tags staticfiles blog_tags keyword_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block extra_js %}
<script src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block main %}

<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for element in HomeX_data.inlines %}
            <li data-target="#carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active" {% endif %}></li>
        {% endfor %}
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for element in HomeX_data.inlines %}
            <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                <a {% if not element.lien %}href='javascript:void(0)'{% else %} href='{{ element.lien }}'{% endif %}
                    {% if element.external %}target='blank'{% endif %} >
                    <img src='{{ MEDIA_URL }}{{ element.image }}' alt='illustration {{ element }}'>
                </a>
            </div>
        {% endfor %}

    </div>
    <!-- Controls -->
    {# <a class="left carousel-control" href="#carousel" role="button" data-slide="prev"> #}
        {# <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> #}
        {# <span class="sr-only">Previous</span> #}
    {# </a> #}
    {# <a class="right carousel-control" href="#carousel" role="button" data-slide="next"> #}
        {# <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> #}
        {# <span class="sr-only">Next</span> #}
    {# </a> #}
</div>

<div class='level' id='Events'>
    <div class='container'>
    <div class='row'>
    <div class='col-md-12 level_title'>
        <h2>
            <i class='fa fa-genderless' style='margin-right:10px; position:relative; bottom:4px; font-size:18px;'></i>Nos Evènements & Formations
        </h2>
        <div class='liner'></div>
    </div>
    </div>
    {% for element in Events %}
        <div class='event row'>
            <div class='event_slot col-md-3 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2'>
                <a href='{{ element.get_absolute_url }}'>
                    <img src='{{ MEDIA_URL }}{% thumbnail element.illustration 0 400 %}' alt='illustration {{ element.title }}'>
                </a>
            </div>

            <div class='event_slot col-md-6 col-sm-8 col-xs-12'>
                <div class='text-justify'>
                    <h3>
                        <a href='{{ element.get_absolute_url }}'>
                            {{ element.title }}
                        </a>
                    </h3>
                    {{ element.description_from_content|safe }}
                </div>
                {% if element.link_event %}
                <div>
                    <a href="{{ element.link_event }}" target='blank'>
                        <i class='fa fa-arrow-circle-o-right'></i> Lien vers le site de l'évènement
                    </a>
                </div>
                {% endif %}
            </div>

            <div class='event_slot col-md-3 col-sm-4 col-xs-12 text-right'>
                <div class='event_info' style='margin-top: 34px;'>
                    <i class='fa fa-calendar text-info'></i> {{ element.date_event }}
                </div>
                <div class='event_info'>
                    <i class='fa fa-clock-o text-info'></i> {{ element.time_event }}
                </div>
                <div class='event_info icon_slot'>
                    {% if element.contact %}
                        <div class='DL'>
                            <a {% if request.user.username %}href='mailto:{{ element.contact }}' title='contact' {% else %} class='disabled' title='Connectez-vous pour envoyer un mail au contact' {% endif %}>
                            contact
                            <i class='fa fa-lg fa-envelope'></i></a>
                        </div>
                    {% endif %}
                    {% for inline in element.inlines %}
                        <div class='DL'>
                            <a {% if request.user.username %}href="{{ inline.file.url }}"{% else %} class='disabled' title='Connectez-vous pour télécharger le document' {% endif %} target="blank">
                                <span>{{ inline.nature }}</span>
                                <i class='fa fa-lg fa-download'></i>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<div class='level map' id='CHU'>
    <div class='container'>
    <div class='row'>
    <div class='col-md-12 level_title'>
        <h2>
            <i class='fa fa-genderless' style='margin-right:10px; position:relative; bottom:4px; font-size:18px;'></i>
            Nos CHU
        </h2>
        <div class='liner'></div>
    </div>
    </div>
    </div>
    <div id='CHU_map_layer'>
        <iframe id="map" src="https://www.google.com/maps/d/u/1/embed?mid=1GhkLFV-rQ3NH7SY0Im_bQdTw1Yk" width="100%" height="550" frameborder="0" style="border:0; margin-top: -100px;" scrolling="no"></iframe>
        <div id="GMAP_overlay">
            <a href='javascript:void(0)'>
            <div id='map_title'>
                <h3>Cliquez pour activer</h3>
            </div>
            </a>
        </div>
    </div>
</div>

<div class='level' id='Associates'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12 level_title'>
                <h2>
                    <i class='fa fa-genderless' style='margin-right:10px; position:relative; bottom:4px; font-size:18px;'></i>Le Comité d'Administration
                </h2>
                <div class='liner'></div>
            </div>
        </div>
        <div id='associate_layer' class='row'>
            {% for element in Associates %}
                <div class='col-md-4 col-sm-4 col-xs-12'>
                    <div class='row associate'>
                        <div class='col-md-5'>
                            <a href='{{ element.get_absolute_url }}'>
                            <img src='{{ MEDIA_URL }}{% thumbnail element.photo 400 400 %}' class='img-thumbnail' alt='photo {{ element.prenom }} {{ element.title }}'>
                            </a>
                        </div>
                        <div class='col-md-7'>
                            <h3>
                                <a href='{{ element.get_absolute_url }}'>
                                    {{ element.prenom }} {{ element.title }}
                                </a>
                            </h3>
                            <div>
                                {{ element.statut }}, {{ element.ville_exercice }}
                            </div>
                            <div class='SoMe'>
                                    <a href='mailto:{{ element.email }}'><i class='fa fa-envelope-o'></i></a>
                                {% if element.facebook %}
                                    <a href='{{ element.facebook }}' target='blank'><i class='fa fa-facebook'></i></a>
                                {% endif %}
                                {% if element.linkedin %}
                                    <a href='{{ element.linkedin }}' target='blank'><i class='fa fa-linkedin'></i></a>
                                {% endif %}
                                {% if element.twitter %}
                                    <a href='{{ element.twitter }}' target='blank'><i class='fa fa-twitter'></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class='col-md-12 text-center' style='margin-top:50px;'>
                <btn id='cat_associates' class='btn btn-large btn-default'>
                    Voir Plus 
                </btn>
            </div>
        </div>
    </div>
</div>

<div id='Search' class='text-center'>
    <div class='container'>
    <div class='row'>
        <div class='col-md-12'>
        <form action='{% url "search" %}' role="search">
            <div class="form-group">
                <i class='fa fa-search' style='margin-right:15px; padding:10px; border-radius:4px; background-color:#FFFFFF; color:rgb(234,97,114);'></i>
                <input id='search_input' placeholder="RECHERCHE" type="text" name="q" value="{{ request.REQUEST.q }}">
            </div>
        </form>
        </div>
    </div>
    </div>
</div>


<div class='level' id='RIA'>
    <div class='container'>
    <div class='row'>
    <div class='col-md-12 level_title'>
        <h2>
            <i class='fa fa-genderless' style='margin-right:10px; position:relative; bottom:4px; font-size:18px;'></i>Remplacement, Installations & Assurances Professionnelles
        </h2>
        <div class='liner'></div>
    </div>
    </div>
    {% if RIAs %}
    {% for element in RIAs %}
        <div class='col-md-6 col-sm-6 col-xs-12'>
            <div class='row'>
                <div class='col-md-12'>
                    <h3 class='text-center'>
                        <a href='{{ element.get_absolute_url }}'>
                            {{ element.title }}
                        </a>
                    </h3>
                    <div class='text-justify'>
                        {{ element.description_from_content|safe }}
                    </div>
                </div>
                {% if element.mail %}
                <div class='col-md-8 col-sm-8 col-xs-12'>
                    <h5>
                        <a href='mailto:{{ element.mail }}' target='blank' class='alert alert-info'>
                            <i class='fa fa-envelope'></i>
                            Contact {{ element.choix_RIA }}
                        </a>
                    </h5>
                </div>
                {% endif %}
                {% if element.target_link %}
                <div {% if element.mail %} class='col-md-4 col-sm-4 col-xs-12 text-right' {% else %} class='col-md-12 col-sm-12 col-xs-12' {% endif %}>
                    <h5>
                        <a href='{{ element.target_link }}' target='blank'>
                            <i class='fa fa-link'></i>
                            Site Internet
                        </a>
                    </h5>
                </div>
                {% endif %}
                <div class='liner'></div>
                {% if element.logo_sponsor %}
                <div style='margin-top:20px;' class='col-md-3 col-sm-3 col-xs-3'>
                    <img src='{{ MEDIA_URL }}{% thumbnail element.logo_sponsor 200 0 %}' class='img-thumbnail' alt='logo partenaire'>
                </div>
                {% endif %}
                {% if element.illustration %}
                <div style='margin-top:20px;' class='text-center {% if element.logo_sponsor %} col-md-9 col-md-9 col-xs-9 {% else %} col-md-12 {% endif %}'>
                    <img src='{{ MEDIA_URL }}{% thumbnail element.illustration 600 200 %}' class='img-thumbnail' alt='illustration {{ element.title }}'>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% else %}
        <div class='col-md-6 col-sm-6 col-xs-12'>
            <div class='row'>
                <h3>Aucun Remplacement ou installation en ce moment.</h3>
            </div>
        </div>
    {% endif %}
    </div>
</div>

<div id='Sponsors' class='level'>
    <div class='container'>
        <div class='row'>
        <div class='col-md-12 level_title'>
            <h2>
                <i class='fa fa-genderless' style='margin-right:10px; position:relative; bottom:4px; font-size:18px;'></i>Partenaires
            </h2>
            <div class='liner'></div>
        </div>
        </div>

        <div class='row'>
        <div id="carousel2" class="carousel slide col-md-12" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for chunk in sponsor_list %}
                    <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                        {% for element in chunk %}
                        <div class='sponsor'>
                            <img src='{{ MEDIA_URL }}{% thumbnail element.logo 300 300 %}' alt='illustration {{ element.title }}' title='{{ element.title|title }}' />
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>


    </div>
</div>

{% endblock %}