{% extends "pages/page.html" %}

{% load pages_tags mezzanine_tags staticfiles blog_tags keyword_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
<style type="text/css">
    .illustration img{
        width: 100%;
    }
    h2{
        margin: 40px 0 20px 0;
        color: rgb(234,97,114);
    }
    #CHU_map_layer{
        margin-bottom: 120px;
    }
    .info{
        display: inline-block;
        padding :4px 10px;
        border: 1px solid rgba(0,0,0,.25);
        margin: 10px 10px 10px 0;
    }
    .half.liner{
        margin: 15px 0 20px 0;
        width:100%;
        border-top: none;
    }
</style>
{% endblock %}

{% block extra_js %}
<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block main %}

<div class='illustration'>
    {% if illustration %}
        <img src='{{ MEDIA_URL }}{% thumbnail illustration.image 1200 300 %}' alt='illustration CHU'>
    {% endif %}
</div>


<div class='container'>
    <div class='row'>
        {% for element in all_CHU %}
            <div class='col-md-12 col-xs-12'>
                <h2>
                    <i class='fa fa-long-arrow-right'></i>
                    {{ element.0.0 }}
                </h2>
                <div class='text-justify'>
                    {{ element.1.0.region_description|richtext_filters|safe }}
                </div>
            </div>
            {% for CHU in element.1 %}
            <div class='col-md-12 col-xs-12'>
                <h4>{{ CHU.title }}</h4>
                <div class='text-justify'>{{ CHU.CHU_description|richtext_filters|safe }}</div>
                {% if CHU.nb_postes %}
                <div class='info'>
                    <b>Nombre de postes</b> : {{ CHU.nb_postes }}
                </div>
                {% endif %}
                {% if CHU.nb_internes %}
                <div class='info'>
                    <b>Nombre d'internes</b> : {{ CHU.nb_internes }}
                </div>
                {% endif %}
                {% if CHU.nb_services %}
                <div class='info'>
                    <b>Nombre de services</b> : {{ CHU.nb_services }}
                </div>
                {% endif %}
                {% if CHU.nb_PUPH %}
                <div class='info'>
                    <b>Nombre de PUPH</b> : {{ CHU.nb_PUPH }}
                </div>
                {% endif %}
                <div class='info'>
                    <b>Chirurgie robotique</b> :
                    {% if CHU.robotics %}
                        Oui
                    {% else %}
                        Non
                    {% endif %}
                </div>
                {% if CHU.thematiques %}
                <div class='info'>
                    <b>Thématiques</b> : {{ CHU.thematiques }}
                </div>
                {% endif %}
                {% if CHU.referent_AFUF %}
                <div class='info'>
                    <b>Référent AFUF</b> : <a href='mailto:{{ CHU.referent_AFUF.email }}'>{{ CHU.referent_AFUF.prenom }} {{ CHU.referent_AFUF.nom }}</a>
                </div>
                {% endif %}
                {% if CHU.chef_service %}
                <div class='info'>
                    <b>Chef de service</b> : {{ CHU.chef_service }}
                </div>
                {% endif %}
                {% if CHU.coordinateur %}
                <div class='info'>
                    <b>Coordinateur</b> : {{ CHU.coordinateur }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class='col-md-12 col-xs-12'>
                <div class='half liner'></div>
            </div>
        {% endfor %}
    </div>
</div>

<div id='CHU_map_layer'>
    <iframe id="map" src="https://www.google.com/maps/d/u/1/embed?mid=1GhkLFV-rQ3NH7SY0Im_bQdTw1Yk" width="100%" height="550" frameborder="0" style="border:0; margin-top: -100px;" scrolling="no"></iframe>
    <div id="GMAP_overlay">
        <a href='javascript:void(0)'>
        <div id='map_title' class='text-center'>
            <h3>Cliquez pour activer</h3>
        </div>
        </a>
    </div>
</div>

{% endblock %}