
img{
    max-width: 100%;
}

#carousel{
    width: 100%;
}

.level{
    margin: 70px 0;
    padding: 50px 0 90px 0;
}
.level_title h2{
    display: inline-block;
    margin: 20px 20px 50px 0;
    text-align: left;
    color: rgb(234,97,114);
}
.liner{
    /*width: 20%;*/
    display: inline-block;
    height: 10px;
    border-top: 1px solid rgb(234,97,114);
}

#Events{
}
#Events h3{
    margin-top: 0;
}
.event{
    margin-top: 50px;
    margin-bottom: 50px;
}
.event_slot{
    overflow: hidden;
    line-height: 20px;
}.event_slot:first-child{
    margin-bottom: 30px;
}
.event_slot img{
    max-width: 100%;
}

.event_info{
    margin-bottom: 4px;
}.event_info.icon_slot{
    margin-top: 15px;
}
.event_info a i.fa{
    color: rgba(234,97,114,.8);
    -moz-transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}.event_info a i.fa:hover{
    color: rgb(234,97,114);
}

#CHU{
    padding: 0;
    height: 450px;
    overflow: hidden;
    text-align: center;
    background-color: rgba(0,0,0,.1);
}

#Associates{
}
.associate{
    /*background-color: rgb(240,240,240);*/
    margin-bottom: 30px;
}

#Search{
    background-color: rgb(234,97,114);
    padding: 60px 0;
}


#RIA{
    margin-top: 0;
    background-color: #f9f9f9;
}
#RIA h3{
    margin: 20px 0;
}


#Sponsors{
}
#sponsors_layer{
    /*width: 100%;*/
    /*border-top: 1px solid rgba(0,0,0,.2);*/
}
.sponsor{
    display: inline-block;
    margin: 20px 20px 20px 0;
    box-shadow: 1px 1px 1px 1px grey;
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}.sponsor:last-child{
    margin-right: 0;
}
.sponsor:hover{
    /*opacity: .9;*/
    -webkit-transition-delay: .66s;
    -moz-transition-delay: .66s;
    -o-transition-delay: .66s;
    transition-delay: .66s;
}
.sponsor.opacitize{
    opacity: .4;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.sponsor img{
    max-height: 100%;
}
#cat_sponsors{
    margin-top: 30px;
    opacity: 0;
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}


footer{
    margin-top: 100px;
}


/* ! KEEP OUT OF bootstrap.override.css !  */
.form-group > input[type="text"], .form-group > input[type="password"], .form-group > input[type="datetime"], .form-group > input[type="datetime-local"], .form-group > input[type="date"], .form-group > input[type="month"], .form-group > input[type="time"], .form-group > input[type="week"], .form-group > input[type="number"], .form-group > input[type="email"], .form-group > input[type="url"], .form-group > input[type="search"], .form-group > input[type="tel"], .form-group > input[type="color"], .form-group > select, .form-group > textarea{
    display: inline-block;
    height: 50px;
    max-width: 300px;
    padding: 10px 16px; 
    border-radius: 4px;
    background-color: rgba(0,0,0,.1);
    border: none;
    font-size: 20px;
    font-weight: bolder;
    color: #FFFFFF;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
  opacity: .75;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
  opacity: .75;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
  opacity: .75;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
  opacity: .75;
}
/* ./ ! KEEP OUT OF bootstrap.override.css !  */
