
body{
    padding: 0;
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1.6px;
}

.navbar,h1,h2,h3,.title{
    font-family: 'Lato', sans-serif;
    /*font-family: 'Quicksand', sans-serif;*/
}
a, a:hover, a:visited{
    text-decoration: none;
}
.text-red, .text-red:hover, .text-red:visited,
a.text-red, a.text-red:hover, a.text-red:visited{
    color: rgb(234,97,114);
}
a.disabled, a.disabled:hover, a.disabled:visited{
    color: rgb(100,100,100);
}
h1>a, h2>a, h3>a, h4>a,
h1>a:visited, h2>a:visited, h3>a:visited, h4>a:visited{
    color: #333;
}
h1>a:hover, h2>a:hover, h3>a:hover, h4>a:hover{
    color: #2a6496;
}
.scrolloff {
    pointer-events: none;
}
.separator{
    margin: 15px;
    width: 100%;
    height: 10px;
    border-top: 1px solid grey;
}



#logo{
    margin: .75% 0 3.5% 0;
    max-height: 125px;
    overflow: hidden;
}
#logo img{
    max-height: 125px;
}
#all_navCat{
    /*position: fixed;*/
    /*top: 0;*/
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    background-color: rgb(255,255,255);
    /*border-top: 1px solid rgb(234,97,114);*/
    border-top: 1px solid rgb(234,97,114);;
    border-bottom: none;
    /*opacity: 0;*/
    /*text-align: center;*/
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.navCat{
    display: inline-block;
    padding: 10px 20px 12px 20px;
    font-size: 18px;
    text-align: center;
    /*font-family: 'Quicksand', sans-serif;*/
    font-weight: lighter;
    /*letter-spacing: 4px;*/
    /*border: 1px solid transparent;*/
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}.navCat:hover{
    background-color: rgb(234,97,114);
    color: #FFFFFF;
}
.navCat a{
    color: rgb(234,97,114);
    letter-spacing: 2px;
}.navCat:hover a{
    color: white;
}
.navCat.On a{
    color: #e42a25;
    /*background-color: blue;*/
}.navCat a{
    /*color: #2d2f30;*/
}.navCat a:hover, .navCat.On a{
}
footer{
    margin-top: 80px;
    background-color: rgb(234,97,114);
    color: #FFFFFF;
}
footer img{
    position: relative;
    bottom: 110px;
    height: 200px;
    padding: 20px;
    border-radius: 1000px;
    background-color: #FFFFFF;
}
footer a, footer a:hover, footer a:visited{
    color: #FFFFFF;
    text-decoration: none;
}
footer .rightSpace a .fa{
    margin-left: 8px;
}
.rightSpace{
    text-align: right;
}


@media screen and (min-width: 768px){
    .desktop{
        display: inline-block;
    }
    .mobile{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .desktop{
        display: none;
    }
    .mobile{
        display: inline-block;
    }
    footer .rightSpace{
        text-align: center;
    }
}