{% extends "base.html" %}
{% load i18n pages_tags mezzanine_tags staticfiles blog_tags keyword_tags %}


{% block extra_css %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
<style type="text/css">
    h2{
        margin: 40px 0 20px 0;
        color: rgb(234,97,114);
    }
    .blogPost_item{
        margin-bottom: 30px;
    }
</style>
{% endblock %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{# {% block title %} #}
{# {% if page %} #}
{# {% editable page.title %}{{ page.title }}{% endeditable %} #}
{# {% else %} #}
{# {% trans "Blog" %} #}
{# {% endif %} #}
{# {% endblock %} #}


{% block main %}

<div class='container'>
    <div class='row'>
    {% if tag or category or year or month or author %}
        {% block blog_post_list_filterinfo %}
        <p>
        {% if tag %}
            {% trans "Viewing posts tagged" %} {{ tag }}
        {% else %}{% if category %}
            {% trans "Viewing posts for the category" %} {{ category }}
        {% else %}{% if year or month %}
            {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
            {{ year }}
        {% else %}{% if author %}
            {% trans "Viewing posts by" %}
            {{ author.get_full_name|default:author.username }}
        {% endif %}{% endif %}{% endif %}{% endif %}
        {% endblock %}
        </p>
    {% else %}
        {# {% if page %} #}
        {# {% block blog_post_list_pagecontent %} #}
        {# {% if page.get_content_model.content %} #}
            {# {% editable page.get_content_model.content %} #}
            {# {{ page.get_content_model.content|richtext_filters|safe }} #}
            {# {% endeditable %} #}
        {# {% endif %} #}
        {# {% endblock %} #}
        {# {% endif %} #}
    {% endif %}
    </div>

    <div class='row'>
    {% for blog_post in blog_posts.object_list %}
        <div class='blogPost_item'>
            {% block blog_post_list_post_title %}
            {% editable blog_post.title %}
            <h2 class='text-center'>
                <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
            </h2>
            {% endeditable %}
            {% endblock %}
            {% block blog_post_list_post_metainfo %}
            {% editable blog_post.publish_date %}
            <h6 class="post-meta">
                {% with blog_post.categories.all as categories %}
                {% if categories %}
                {% for category in categories %}
                <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
                {# {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %} #}
            </h6>
            {% endeditable %}
            {% endblock %}

            {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
            {% block blog_post_list_post_featured_image %}
            <div class='col-md-4 col-sm-4 col-xs-6 col-xs-offset-3 col-sm-offset-0 text-center' style='margin-bottom:20px;'>
            <a href="{{ blog_post.get_absolute_url }}">
                <img class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 400 300 %}">
            </a>
            </div>
            {% endblock %}
            {% endif %}

            {% if blog_post.featured_image %}
            <div class='col-md-8 col-sm-8 col-xs-10 col-xs-offset-1 col-sm-offset-0'>
            {% else %}
            <div class='col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1'>
            {% endif %}
                <div class='text-justify'>
                {% block blog_post_list_post_content %}
                {% editable blog_post.content %}
                {{ blog_post.description_from_content|safe }}
                {% endeditable %}
                {% endblock %}
                </div>
            </div>

            <div class='col-md-12'>
                <div class='liner' style='width:100%;'></div>
            </div>
        </div>
    {% endfor %}

{% pagination_for blog_posts %}

</div>
{% endblock %}

{# {% block right_panel %} #}
{# {% include "blog/includes/filter_panel.html" %} #}
{# {% endblock %} #}
