{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles bootstrap3 %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
    <div class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12'>
        <div class='formZone'>
        {% if request.user.username %}
            <h2 class='text-center'>Vous êtes connecté, {{ request.user.username }}</h2>
        {% else %}
            {% if loginError %}
                <h2 class='text-red text-center'>La connexion a échoué</h2>
            {% endif %}
                <form action="{% url 'loginView' %}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form loginForm %}
                    {% buttons %}
                        <button type="submit" class="btn btn-lg btn-primary">
                        Connexion
                        </button>
                    {% endbuttons %}
                </form>
        {% endif %}
        </div>
    </div>
{% endblock %}
