{% extends "form_base.html" %}
{% load staticfiles i18n mezzanine_tags bootstrap3  %}


{% block main %}
<div class='container'>
<div class='row'>
    <div class='text-center'>
        <form method="post" action="{{ MERCANET_URL }}">
            <input  type="hidden"
                    name="Data" 
                    value="{{ data }}">
            <input type="hidden" name="InterfaceVersion" value="HP_2.9">
            <input type="hidden" name="Seal" value="{{ seal }}">
            <button type="submit" class="btn btn-primary">
                procéder au paiement
            </button>
            <img src='{% static "img/bnp.png" %}' style='max-width:200px; max-height:200px; margin: 20px;' />
        </form>
    </div>
</div>
</div>
{% endblock %}